.container {
	background-color: #FFFFFF;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px
}
.row {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.columns {
	background-color: orchid;
	width: 100%;
	height: 30%;
	flex-wrap: wrap;
	display: inline-block;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: white;
	text-shadow: 0 0 15px black, 0 0 15px darkorchid;
	line-height: 24px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	min-height:inherit;
	box-shadow: 10px 10px 25px black;
	border-radius: 15px;
}

.row .columns li {
	margin-left: inherit;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.5em;
}
.container .columns h4 {
	text-align: center;
	color: darkred;
	font-size: 1.5em;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	text-shadow: 0 0 25px black, 0 0 25px darkorchid;
}
.primary_header {
	width: 100%;
	padding-bottom: 400px;
}

#header-background{
	background-image: url("../../../Pictures/99246354_2327067974254435_7995085959420968960_n.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 10px 10px 25px black;
	border-radius: 15px;
}
.secondary_header {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: darkorchid;
	clear: left;
	opacity: 0.9;
	border-radius: 0 0 15px 15px;
}
.container .secondary_header ul {
	margin-top: -1em;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
	display: flex;
	flex-wrap:wrap;
	justify-content:center;	
	list-style: none;
	float: left;
	text-shadow: 0 0 25px black, 0 0 25px darkorchid;
	margin-right: auto;
	margin-top: 0px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 1.5em;
	color: darkred;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
	
}
.secondary_header ul li:hover {
	color: darkred;
	cursor: pointer;
	opacity: 0.5;
}
.article {
	flex-direction: column;
	justify-content: center;
	background-color: mediumorchid;
	width: 100%;
	height: 40%;
	display: inline-block;
	float: left;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	color: #FFFFFF;
	padding-bottom: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	box-shadow: 10px 10px 25px black;
	border-radius: 15px;
}



.noDisplay {
	display: none;
}
.container .article h3 {
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 2%;
	margin-bottom: auto;
	color: darkred;
	font-weight: bold;
	text-transform: uppercase;
}


.container .article p {
	font-size: 2em;
	padding-left: 5%;
	padding-right: 5%;
	text-align:center;
	margin-top: 5px;
	margin-bottom: 2em;
	color: #FFFFFF;
	text-shadow: 0 0 25px black, 0 0 25px darkorchid;
}

.videoButton {
	box-shadow: 0px 0px 12px 0px #010500;
	background:linear-gradient(to bottom, #ff0000 5%, #000000 100%);
	background-color:#ff0000;
	border-radius:28px;
	border:1px solid #000000;
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 40%;
	cursor:pointer;
	color:#ffffff;
	font-family:Impact;
	text-align: center;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #010500;
}
.videoButton:hover {
	background:linear-gradient(to bottom, #000000 5%, #ff0000 100%);
	background-color:#25003d;
}
.videoButton:active {
	position:inherit;
	top:1px;
}

.footer {
	background-color: #717070;
	box-shadow: 10px 10px 25px black;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
}
.placeholder {
	width: 80%;
	padding-top: 30px;
	padding-bottom: 4.5em;
	padding-left: 3em;
	height: 100%;
}

.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

.descript {
	font-size: 1.5em;
	padding-left: 10%;
	padding-right: 10%;	
}

.social {
	box-shadow: 10px 10px 25px black;
	border-radius: 15px 15px 0 0;
	
}

/*MEDIA QUERIES*/

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.article {
	width: 100%;
	height: auto;
}

.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.columns {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.columns p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
	
	
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}



@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}

.columns {
	width: 100%;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	position:static;
}
.columns p {
	padding-left: 14px;
	padding-right: 14px;
	font-size: 1.2em;
}

.primary_header {
		display: none;
	}
	#header-background {
		background-position: center;
	}
	.secondary_header, #menu{
		opacity: 0.7;
	}
	.article {
	font-size: 0.6em;	
	}

}

@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}
.secondary_header ul li {
	margin-top: 10px;
	margin-right: 7%;
	margin-bottom: 10px;
	margin-left: 7%;
}
.article {
	height: auto;
}

.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.columns {
	width: 50%;
	float: left;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.container .columns p {
	padding-left: 25px;
	padding-right: 25px;
}

.primary_header {
		display: contents;
	}
#header-background {
		background-position: center;
	}
#menu {
		opacity: 0.7
	}

}	



@media (min-width: 1001px) {
}
.thumbnail {
	width: 100px;
	border-radius: 50px;
	height: 100px;
	margin-left: auto;
}

.thumbnail_series{
	width: 200px;
	border-radius: 50px;
	height: 100px;
	margin-left: auto;	
}
.thumbnail_align {
	text-align: center;
}

.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 0px;
	text-align: center;
	float: left;
	line-height: 0px;
	padding-top: 10px;
	padding-left: 12%;
	padding-right: 12%;
}


.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

.video {
	flex-wrap: wrap;
	justify-content:center;
	outline: solid 10px darkorchid;
}

.latest {
	text-align: center;
	text-shadow: 0 0 25px black, 0 0 25px darkorchid;
	font-size: 2em;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}


.game-title {
	text-align: center;
	text-shadow: 0 0 25px black, 0 0 25px darkorchid;
	font-size: 5em;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;	
}

iframe {
    display: block;
    margin: auto;
	margin-top: -1em;
	margin-bottom: 1em;
}

.article {
	margin-bottom: 15px;
	margin-top: 15px;	
}

@media (max-width: 669px){

	iframe {
	transform: scale(0.80);
	}
	
}

#profile_pic  {
	width: 40%;
	float: left;
	border: solid 10px #C960FF;
	margin-left: 10px;
}
	

.descript {
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 30%;
  max-height: 20%;
  padding-top: 50px;	
  position: relative;
  margin: auto;
  text-align: justify;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 50px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#video_button {
	position:static;
	padding-left: 5%;
	padding-right: 5%;
	display: inline-flex;
	font-size: 1.5em;
	text-align: end;
}